h2.visually-hidden Список тем
ul.themes
  each category in categories
    li.themes__item
      if activeCategory && category.id === activeCategory.id
        a.themes__item-link.themes__item-link--active
          | #{category.title}
          sup #{category.count}
      else
        a.themes__item-link(href=`/articles/category/${category.id}`)
          | #{category.title}
          sup &nbsp;#{category.count}
