extends ../layout

block constants
  - const bodyClass = `wrapper wrapper--nobackground`;

block main
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action=`/categories/add`, method=`POST`, enctype=`multipart/form-data`)
          input#add-form-add-category(type=`text`, name=`category`, maxlength=MaxValue.CATEGORY, placeholder=`Новая категория`, required)
          label(for=`add-form-add-category`)
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type=`submit`) Добавить
      if categories.length
        ul.category__list
          each category, i in categories
            li.category__list-item(class=(i === categories.length - 1 ? `category__list-item--last` : ``))
              form(action=`/categories/edit/${category.id}`, method=`POST`)
                input(id=`modify-form-category-${i}`, type=`text`, name=`category`, maxlength=MaxValue.CATEGORY, value=category.title, required)
                label(for=`modify-form-category-${i}`)
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type=`submit`) Сохранить
                button.category__button.button.button--category(type=`button`) Удалить
