extends ../layout

block constants
  - const bodyClass = `wrapper wrapper--nobackground`;

block main
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${comment.Users.avatar}`, alt=`Аватар пользователя`, width=`20`, height=`20`)
              b.publication__list-name #{comment.Users.firstName} #{comment.Users.lastName}
              time.publication__item-time(comment.date) #{comment.outputDate}
            a.publication__item-text(href=`/articles/${comment.articleId}`) #{comment.text}
            p.publication__text-strong #{comment.articleTitle}
            button.publication__button.button.button--close-item(type=`button`)
              span.visually-hidden Закрыть строку списка

