extends ../layout

block main
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

    if articles.length
      section.main-page__theme-list
        include ../partials/categories-list

      .main-page__section-flex(class=!populars.length && !lastComments.length ? `main-page__section-flex--short` : ``)
        section.main-page__hot.hot
          h2.hot__name(class=!populars.length ? `hot__name--empty` : ``)
            | Самое обсуждаемое
            |
            span.hot__icon.hot__icon--fire
          if populars.length
            ul.hot__list
              each article in populars
                li.hot__list-item
                  a.hot__list-link(href=`/articles/${article.id}`)
                    | #{article.truncatedText}
                    |
                    sup.hot__link-sup #{article.commentsCount}
          else
            p.hot__empty Здесь пока ничего нет...

        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            |
            span.last__icon.last__icon--cloud
          if lastComments.length
            ul.last__list
              each comment in lastComments
                li.last__list-item
                  img.last__list-image(src=`/img/${comment.Users.avatar}`, alt=`Аватар пользователя`, width=`20`, height=`20`)
                  b.last__list-name #{comment.Users.firstName} #{comment.Users.lastName}
                  a.last__list-link(href=`/articles/${comment.ArticleId}`) #{comment.truncatedText}
          else
            p.last__empty Здесь пока ничего нет...

      include ../partials/previews-list
    else
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!

block scripts
  script(src=`https://cdn.socket.io/4.1.3/socket.io.js`)
  script(src=`/js/socket.js`)
