extends ../layout

block main
  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        button.popup__button.button.button--popup-close(type=`button`, aria-label=`Закрыть окно`)
          | Закрыть окно
        h2.popup__title Регистрация
        .popup__form.popup__form--active.form.form--register
          form(action=`#`, method=`get`)
            .form__field
              label
                input(type=`email`, name="email" placeholder=`Электронная почта`, maxlength=MaxValue.EMAIL, required=``)
            .form__field
              label
                input(type=`text`, name="firstname", placeholder=`Имя`, maxlength=MaxValue.FIRST_NAME, required=``)
            .form__field
              label
                input(type=`text`, name="lastname", placeholder=`Фамилия`, maxlength=MaxValue.LAST_NAME)
            .form__field
              label
                input(type=`password`, name=`password`, placeholder=`Пароль`, minlength=MinValue.PASSWORD, maxlength=MaxValue.PASSWORD, required=``)
            .form__field
              label
                input(type=`password`, name=`password_again`, placeholder=`Повтор пароля`, minlength=MinValue.PASSWORD, maxlength=MaxValue.PASSWORD, required=``)
            +errorMessage(errors, `При регистрации произошли ошибки:`)
            .form__image-loader
              a.form__avatar.avatar
                img(src=`/img/icons/smile.svg`, alt=`аватар пользователя`)
              label
                input.visually-hidden(type=`file`)
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type=`submit`) Зарегистрироваться

block scripts
  script(src=`/js/main.js`)
